<div>
    <h2>Welcome to Magical Girl Boutique</h2>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.pinimg.com/736x/91/06/f6/9106f650bb3002303216e6834d8b5b18.jpg" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/736x/47/f6/80/47f68094bb12a68a362471645c6b2568.jpg" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/736x/e1/72/ac/e172acfe1035f2bb396f672f438aa043.jpg" class="d-block w-100"
                alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>